.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #0a4c56;
  height: 1024px;
  width: 2350px;
  position: relative;
  overflow: hidden;
}
.rectangle-6 {
  background: #007b8b;
  border-radius: 0px 0px 40px 42px;
  width: 2350px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: -18px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.image-4 {
  width: 152.83px;
  height: 150px;
  position: absolute;
  left: 45px;
  top: 4px;
  object-fit: cover;
}
.rectangle-7 {
  background: #0a4c3e;
  width: 2350px;
  height: 327px;
  position: absolute;
  left: 0px;
  top: 794px;
}
.image-6 {
  width: 2350px;
  height: 672px;
  position: absolute;
  left: 0px;
  top: 154px;
  object-fit: cover;
}
.frame-15 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 2000px;
  top: 897px;
}
.settings {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position:relative;
  overflow: visible;
}
.settings2 {
  color: #fafaf5;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-34 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 188px;
  height: 84px;
  position: absolute;
  left: 2000px;
  top: 818px;
}
.logout-02 {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: visible;
}
.logout {
  color: #fafaf5;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-22 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 2000px;
  top: 962px;
}
.help {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: visible;
}
.help2 {
  color: #fafaf5;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 30px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-8 {
  background: #007b8b;
  border-radius: 50px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 100px;
  top: 694px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-9 {
  background: #007b8b;
  border-radius: 50px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 400px;
  top: 694px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-10 {
  background: #007b8b;
  border-radius: 50px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 700px;
  top: 694px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-11 {
  background: #007b8b;
  border-radius: 50px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 1000px;
  top: 694px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-12 {
  background: #007b8b;
  border-radius: 50px;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 1300px;
  top: 697px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.frame-27 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 91px;
  top: 734px;
}
.home-01 {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: visible;
}
.text {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 48px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 600;
  position: absolute;
  left: 53px;
  top: 803px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 600;
  position: absolute;
  left: 165px;
  top: 803px;
  width: 153px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 600;
  position: absolute;
  left: 435px;
  top: 788px;
  width: 162px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.details {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 600;
  position: absolute;
  left: 450px;
  top: 832px;
  width: 162px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.money {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 600;
  position: absolute;
  left: 755px;
  top: 793px;
  width: 175px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.transfer {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 600;
  position: absolute;
  left: 740px;
  top: 836px;
  width: 173px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.transaction {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 600;
  position: absolute;
  left: 1010px;
  top: 803px;
  width: 200px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.history {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 600;
  position: absolute;
  left:1050px;
  top: 835px;
  width: 146px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.loans {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 600;
  position: absolute;
  left: 1360px;
  top: 807px;
  width: 144px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bank-note-01 {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 470px;
  top: 728px;
  overflow: visible;
}
.currency-coin-dollar {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 775px;
  top: 733px;
  overflow: visible;
}
.frame-20 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 54px;
  position: absolute;
  left: 1070px;
  top: 734px;
}
.wallet-02 {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: visible;
}
.frame-16 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1375px;
  top: 733px;
}
.bag-04 {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: visible;
}
.aegis-bank {
  color: #080637;
  text-align: left;
  font-family: "InknutAntiqua-Bold", sans-serif;
  font-size: 64px;
  line-height: 22px;
  letter-spacing: -0.18px;
  font-weight: 700;
  position: absolute;
  left: 224px;
  top: 56px;
  width: 693px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
